@font-face {
	font-family: 'DV Sans Mono';
	src: url('media/fonts/DejaVuSansMono.ttf');
}



html {
	height: 100%;
	margin: 0px;
}
body {
	height: calc(100% - 20px);
	margin: 0px;
	
	background-color: #f8f8f8;
}

.consoleline,
#commbar,
#comminput {
	font-family: 'DV Sans Mono', monospace;
}


#svgcont {
	margin-top: 20px;
	margin-left: 4px;
}

#preview,
#mainsvg,
#bgplane {
	position: absolute;
}

#bgplane {
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	
	z-index: -250;
}

#mainsvg {
	z-index: -200;
}

#preview {
	opacity: 0.5;
	z-index: -150;
}


button {
	margin: 2px;
	
	background: #000;
	border: none;
	color: #fff;
	
	font-family: 'DV Sans Mono', monospace;
}

#outtext {
	position: fixed;
	display: block;
	opacity: 0;
	
	width: 0px;
	height: 0px;
	
	top: -100px;
}
